
  <!-- Main Contents -->
 

    <!-- Contenido -->
    
    <div id="wrapper" class="is-verticle">
        <div class="bg-yellow border p-4 relative  uk-alert" uk-alert >
          <a class="uk-alert-close text-black  absolute right-0 top-0 m-5 " uk-close></a>
          <h3 class="text-base mb-8 text-center  "> <span class="text-lg font-semibold mb-2">Aprendecon:</span>

            Desarrolladores & Expertos
          
          </h3>
          <p class="text-center text-black  text-base mb-8" > <span>{{adsText}}</span> <span class="text-lg font-semibold mb-2 text-black "> Finaliza en <span id="hours">{{hours}}</span> h <span id="minutes">{{minutes}}</span>m <span id="seconds">{{seconds}}</span> s.</span></p>
        </div>
        </div>
    <!-- Contenido -->
