

<div class="body_div "  [ngStyle]="background()">
    <header class="black" uk-sticky> 
        <div class="header_inner">
            <div class="left-side">
      
                <!-- Logo -->
                <div id="logo">
                    <a href="/">
                        <img src="../assets/images/logo.png" alt="">
                        <img src="../assets/images/logo.png" class="logo_inverse" alt="">
                        <img src="../assets/images/logo.png" class="logo_mobile" alt="">
                    </a>
                </div>
                
      
                <!-- icon menu for mobile -->
                <div class="triger" uk-toggle="target: #wrapper ; cls: is-active">
                </div>
      
            </div>
            <div class="right-side">
              
                <a class="text-link" href="/soporte"><i name="card-outline" class="side-icon text-link "><span class="icon-material-outline-help-outline text-white"> </span></i></a>
                
      
                <div>
      
                 
                     <!-- profile -->
                     <!-- <button  mat-raised-button class="margin-btn"  routerLink="/login" >Inicia Sesión</button>
                     <button   mat-raised-button class="bg-purple text-white"  routerLink="/registro">Registro</button> -->
                     <!-- <a mat-raised-button class=" bg-purple text-white"  href="#div_id7" >Adquirir una membresía</a> -->
      
                    <div >
                        
                     <a href="">
                        <img src="../assets/images/avatars/placeholder.png" class="header_widgets_avatar" alt="">
                    </a>
                    <div uk-drop="mode: click;offset:5" class="header_dropdown profile_dropdown">
                        <ul>   
                            <li>
                                <a href="#" class="user">
                                    <div class="user_avatar">
                                        <img src="https://cdn-icons-png.flaticon.com/512/320/320368.png" alt="">
                                    </div>
                                    <div class="user_name">
                                        <div>  </div>
                                        <span>  </span>
                                        <span> Membresía: <strong></strong> </span>
                                        <span> Especialidad:  </span>
                                        
                     
                                    </div>
                                </a>
                            </li>
                            <li> 
                                <hr>
                            </li>
                            <!-- <li> 
                                <a href="#" class="is-link">
                                  
                                </a>
                            </li>  -->
                            <li> 
                                <hr>
                            </li>
                            <li> 
                                <a href="#">
                                   
                                     Mi Cuenta
                                </a>
                            </li>
                            <!-- <li> 
                                <a href="#">
                                    
                                    Subscriptions
                                </a>
                            </li>
                            <li> 
                                <a href="#">
                                    
                                    My Billing 
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    
                                    Account Settings  
                                </a>
                            </li> -->
                            <li> 
                                <hr>
                            </li>
                            <!-- <li> 
                                <a href="#" id="night-mode" class="btn-night-mode" onclick="UIkit.notification({ message: 'Hmm...  <strong> Night mode </strong> feature is not available yet. ' , pos: 'bottom-right'  })">
                                    
                                     Night mode
                                    <span class="btn-night-mode-switch">
                                        <span class="uk-switch-button"></span>
                                    </span>
                                </a>
                            </li> -->
                            <li > 
                                <a class="" >
                                   
                                  
                                  <i name="card-outline" class="side-icon text-link "><span class="icon-material-outline-help-outline"> </span></i> Cerrar sesión 
                                </a>
                            </li>
                        </ul>
                    </div> 
                  </div>
                </div>
      
            </div>
        </div>
      </header>
<fieldset class="checkbox-group">
	<legend class="checkbox-group-legend">Selecciona una opción</legend>
	<div class="checkbox">
		<label class="checkbox-wrapper">
			<a class="text-link" href="/">
			<span class="checkbox-tile">
                <img class="imgCat" src="https://firebasestorage.googleapis.com/v0/b/lamejorferia-32065.appspot.com/o/img%2Fhogar.png?alt=media&token=b4da4a56-f8e5-4bab-975b-3dfc15446055" alt="">
                <!-- <svg class="imgCat" xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="currentColor" viewBox="0 0 256 256">
                    <rect width="256" height="256" fill="none"></rect>
                    <polygon points="72 40 184 40 240 104 128 224 16 104 72 40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></polygon>
                    <polygon points="177.091 104 128 224 78.909 104 128 40 177.091 104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></polygon>
                    <line x1="16" y1="104" x2="240" y2="104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></line>
                </svg> -->
				<span class="checkbox-label">Home</span>
			</span>
        </a>
		</label>
	</div>
	<div class="checkbox">
		<label class="checkbox-wrapper">
			<a class="text-link" href="/">
			<span class="checkbox-tile">
                <img class="imgCat" src="https://firebasestorage.googleapis.com/v0/b/lamejorferia-32065.appspot.com/o/img%2Fhogar.png?alt=media&token=b4da4a56-f8e5-4bab-975b-3dfc15446055" alt="">
                <!-- <svg class="imgCat" xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="currentColor" viewBox="0 0 256 256">
                    <rect width="256" height="256" fill="none"></rect>
                    <polygon points="72 40 184 40 240 104 128 224 16 104 72 40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></polygon>
                    <polygon points="177.091 104 128 224 78.909 104 128 40 177.091 104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></polygon>
                    <line x1="16" y1="104" x2="240" y2="104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></line>
                </svg> -->
				<span class="checkbox-label">Soporte</span>
			</span>
        </a>
		</label>
	</div>
    <div class="checkbox" *ngFor="let buttons of data">
		<label class="checkbox-wrapper">
			<a class="text-link" href="/">
			<span class="checkbox-tile">
                <img class="imgCat" src="{{buttons.url}}" alt="">
                <!-- <svg class="imgCat" xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="currentColor" viewBox="0 0 256 256">
                    <rect width="256" height="256" fill="none"></rect>
                    <polygon points="72 40 184 40 240 104 128 224 16 104 72 40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></polygon>
                    <polygon points="177.091 104 128 224 78.909 104 128 40 177.091 104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></polygon>
                    <line x1="16" y1="104" x2="240" y2="104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></line>
                </svg> -->
				<span class="checkbox-label">{{buttons.titulo}}</span>
			</span>
        </a>
		</label>
	</div>
    
</fieldset>
</div>

