<app-navbar></app-navbar>
<!-- Main Contents -->
<div class="main_content">
    <div class="container">

        <div class="max-w-3xl lg:p-8 pb-0 mx-auto">

            <!-- article content -->
            <div class="md:space-y-4 space-y-3 leading-8 md:text-base">
                 
                <div class="text-gray-500"> Actualizado Oct 29, 2022</div>
                <div class="font-semibold md:text-3xl text-2xl text-gray-700 pt-5"> Política de Privacidad </div>
                <div class="text-gray-500 pt-3"> Versión 2.1, Revisión 4</div>

                <div class="font-semibold md:text-2xl text-xl text-gray-700 md:pt-12 pt-10"> Uso de servicios </div>
                <div class="md:leading-9">Gracias por unirse a <strong>En Aprendecon ("Aprendecon", "nosotros", "nos")</strong> ,
                    respetamos la privacidad del usuario y queremos que comprenda cómo recopilamos, utilizamos y compartimos los datos sobre él. Esta Política de privacidad aborda nuestras prácticas de recopilación de datos y describe los derechos del usuario en relación con sus datos personales.

                    A menos que enlacemos con una política diferente o que indiquemos otra cosa, esta Política de privacidad se aplicará cuando el usuario visite o utilice el sitio web, las aplicaciones móviles, las API o los servicios relacionados de Udemy y CorpU (los "Servicios"). También se aplicará a los posibles clientes de nuestros productos empresariales y de negocios.
                </div>
                <div class="md:leading-9">
                <strong>  Al utilizar los Servicios, el usuario acepta los términos de esta Política de privacidad.</strong>  El usuario no deberá utilizar los Servicios si no está de acuerdo con esta Política de privacidad o con cualquier otro acuerdo que rija el uso que hace de los Servicios.
                </div>
                
                <br>
                
                <div class="font-semibold md:text-2xl text-xl text-gray-700">Qué datos obtenemos</div>
                <div class="md:leading-9"> Some of our Services allow you to upload, submit, store, send or receive content. You retain ownership of any intellectual property rights that you hold in that content. In short, what belongs to you stays yours.</div>
                <div class="md:leading-9"> When you upload, submit, store, send or receive content to or through our Services, you give Front (and those we work with) a worldwide license to use, host, store, reproduce, modify, create derivative works (such as those resulting from translations, adaptations or other changes we make so that your content works better with our Services), communicate, publish, publicly perform, publicly display and distribute such content. The rights you grant in this license are for the limited purpose of operating, promoting, and improving our Services, and to develop new ones. This license continues even if you stop using our Services (for example, for a business listing you have added to Front Maps). Some Services may offer you ways to access and remove content that has been provided to that Service. Also, in some of our Services, there are terms or settings that narrow the scope of our use of the content submitted in those Services.</div>
                
                <br>
                
                <div class="font-semibold md:text-xl text-lg text-gray-700"> Acuerdo de la API de Udemy</div>
                <div class="md:leading-9">Some of our Services allow you to upload, submit, store, send or receive content. You retain ownership of any intellectual property rights that you hold in that content. In short, what belongs to you stays yours.</div>
                <div class="md:leading-9"> When you upload, submit, store, send or receive content to or through our Services, you give Front (and those we work with) a worldwide license to use, host, store, reproduce, modify, create derivative works (such as those resulting from translations, adaptations or other changes we make so that your content works better with our Services), communicate, publish, publicly perform, publicly display and distribute such content. The rights you grant in this license are for the limited purpose of operating, promoting, and improving our Services, and to develop new ones. This license continues even if you stop using our Services (for example, for a business listing you have added to Front Maps). Some Services may offer you ways to access and remove content that has been provided to that Service. Also, in some of our Services, there are terms or settings that narrow the scope of our use of the content submitted in those Services.</div>
            
            </div>


        </div>

    </div>


</div>
<app-footer></app-footer>