
<app-navbar></app-navbar>
 <!-- <app-ads-header></app-ads-header> -->



    
  <!-- Main Contents -->
  
    <div class="main_content">

        
    
                    <!-- course preview details -->
                    <div class="bg-gradient-to-bl bg-purple text-white lg:-mt-20 lg:pt-20">
                        <app-ads-header></app-ads-header>
                        
                        

                        <div class="container p-0">
                            <div class="lg:flex items-center lg:space-x-12 lg:py-14 lg:px-20 p-3 box">
                               
                                <div class="items-center">
                                    
                                    <div class="w-full items-center lg:h-52 h-40 overflow-hidden rounded-lg relative lg:mb-0 mb-4">
                                        <img src="../assets/images/courses/video.png" alt="" class="w-full h-full absolute inset-0 object-cover">
                                        <a href="#trailer-modal" class="uk-position-center" uk-toggle>
                                            <img src="../assets/images/icon-play.svg" class="w-16 h-16" alt="">
                                        </a>
                                    </div>
                                    <div class=" text-white"> <span class="icon-feather-film icon-yellow"></span> Puedes ver nuestro video y ver todo lo que te espera al inscribirte. </div>
                                </div>
                                <!-- <div class="lg:w-8/12">
                                    
                                    <h1 class="lg:leading-10 lg:text-3xl text-white text-xl mb-3 leading-8 font-bold">Fórmate online como de la mano de profesionales en tecnología</h1>
                                    <p class="lg:w-4/5 mt-4 md:text-lg md:block hidden">¿Qué te ofrece Aprendecon?</p>

                                    <div>
                                        <ul class="grid md:grid-cols-1">
                                            <li> <i class="uil-check text-xl font-bold mr-2"></i>Clases prácticas, concretas y especializadas en las áreas de mayor demanda laboral.</li>
                                            <li> <i class="uil-check text-xl font-bold mr-2"></i>Diplomas de certificación en las áreas de estudio que elijas y apruebes.</li>
                                            <li> <i class="uil-check text-xl font-bold mr-2"></i>Cursos especializados impartidos por líderes de la industria de la tecnología.</li>
                                            <li> <i class="uil-check text-xl font-bold mr-2"></i>La mejor experiencia de aprendizaje sin importar la velocidad de tu conexión.</li>
                                            <li> <i class="uil-check text-xl font-bold mr-2"></i>Una ruta de aprendizaje ideal para ti; te ayudamos a definirla según tus objetivos.</li>
                                        </ul>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                    </div>
                    <!-- video demo model -->
                    <div id="trailer-modal" uk-modal>
                    <div class="uk-modal-dialog shadow-lg rounded-md">
                        <button class="uk-modal-close-default m-2.5" type="button" uk-close></button>
                        <div class="uk-modal-header  rounded-t-md">
                            <h4 class="text-lg font-semibold mb-2"> Conoce Aprendecon</h4>
                        </div>
                    
                        <div class="embed-video">
                            <video controls  class="w-full"
                            uk-video="automute: false" frameborder="0" allowfullscreen uk-responsive>
                                <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <!-- <iframe src="https://www.youtube.com/embed/nOCXXHGMezU" class="w-full"
                            uk-video="automute: true" frameborder="0" allowfullscreen uk-responsive></iframe> -->
                        </div>


                        <div class="uk-modal-body">
                            <h3 class="text-lg font-semibold mb-2"><strong>Es hora de aprender Practicando</strong></h3>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore
                                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident,
                                sunt
                                in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    </div>

            <!-- Contenido -->
            
            <app-cursos></app-cursos>
            <app-proyectos></app-proyectos>
            <app-live></app-live>
            <app-reels></app-reels>
            <app-laboratorios></app-laboratorios>
            <app-matriculas></app-matriculas>
            <!-- Contenido -->
                    
    </div>


<!-- Main Contents -->
 <app-footer></app-footer>
 
