<div class="flex flex-col justify-between h-screen back">
    
    
    <div>
        <div class="container">
          <div class="forms-container">
            
            <div class="signin-signup">
              <form action="#" class="sign-in-form">
                <h2 class="title">Inicio de Sesión</h2>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Correo Electronico</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email" name="correo" [(ngModel)]="correo"  required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Ingrese su contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'"  [formControl]="password" name="contrasena" [(ngModel)]="contrasena" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                <input  (click)="login()" type="submit" value="Ingresar" class="btn solid" />
                <p class="social-text">Tienes Problemas para recordar tu contraseña</p>
                <div class="social-media">
                  
                    <i ><a href="/restablecer" class="text-link"> <i name="card-outline" class="side-icon text-link"><span class="icon-material-outline-help-outline"> </span></i> Olvidaste tu contraseña </a></i>
                  
                </div>
                <ul>
                    <li></li>
                </ul>
               
              </form>
            </div>
          </div>
    
          <div class="panels-container">
            
            <div class="panel left-panel">
              <div class="content">
                <h3 class="text-white">Nuevo en Aprendecon?</h3>
                <p>
                  Puedes registrarte completamente gratis! solo debes dar clic en el boton de la parte inferior, recuerda registrarte ingresando de manera correcta tus datos.
                  
                </p>
                
                <button class="btn transparent" routerLink="/registro" id="sign-up-btn">
                 Registrar
                </button>
              </div>
              <img src=""  class="image" alt="" />
              
            </div>
            <div class="panel right-panel">
              <div class="content">
                <h3 class="text-white">Ya tienes una cuenta?</h3>
                <p>
                  Inicia Sesión con el boton de la parte inferior
                </p>
                <button class="btn transparent" id="sign-in-btn">
                  Ingresar
                </button>
              </div>
              
            </div>
          </div>
        </div>
    </div>
</div>




 

<!-- <app-footer></app-footer> -->


         


