<app-navbar></app-navbar>
<div class="main_content">
  <div class="container">
	
	
	  <mat-stepper [linear]="isLinear" #stepper>
		<mat-step label="Información" [stepControl]="firstFormGroup">
			<div class="left">
				<div class="info-box">
					<div class="receipt">
						Matricula <span>{{plan.tipo}}</span>
					</div>
					<div class="entry">
						<i class="icon-wallet" aria-hidden="true"></i>
						<p>Monto: <span> {{plan.precio | currency: 'USD' : 'symbol' : '1.0-0'  }}</span></p>
					</div>
					<div class="entry">
						<i class="icon-calendar" aria-hidden="true"></i>
						<p>Fecha:<span> {{getTimeLoaded(1) | date:'shortDate'}} </span></p>
					</div>
					<div class="entry entry-padding">
						<i class="icon-star" aria-hidden="true"></i>
						<p>Membresía:<span> {{plan.nombre}}</span></p>
					</div>
					<!-- <div class="entry">
						<i class="icon-notebook" aria-hidden="true"></i>
						<p>Confirmación #:<span> 0YX123580219G</span></p>
					</div> -->
				</div>
			</div>
			<div class="right">
				<div class="content">
					<div class="header">
						<img src="../assets/images/LogoPay.png">
						<h4>{{getTimeLoaded(1) | date:'medium'}}</h4>
					</div>
					<div class="main">
			  
						<h3> {{plan.nombre}}</h3>
						<h5>Total: {{plan.precio | currency: 'USD' : 'symbol' : '1.0-0'  }} COP</h5>
					</div>
	
			
	
			<mat-form-field class="example-full-width" appearance="fill">
			  <mat-label>Nombres</mat-label>
			  <input matInput disabled value="{{nombreUser}}">
			</mat-form-field>
			<mat-form-field class="example-full-width" appearance="fill">
				<mat-label>Apellidos</mat-label>
				<input matInput disabled value="{{apellido}}">
			  </mat-form-field>
	
			
			
					<div class="message">
			  
						<p>Hola, {{username}} confirmando este proceso pagaras {{plan.precio | currency: 'USD' : 'symbol' : '1.0-0'  }} COP, concepto Membresía Medium. Comprobante de pago sera enviado a (<a href="mailto:{{correoUser}}">{{correoUser}}</a>)</p>
						<h6>Recomendamos revisar nuestros terminos & condiciones. Esta transacción puede tardar unos minutos.</h6>
					</div>
					  
			
					<div class="footer">
			  <div class="header">
				<img src="https://www.openpay.co/_nuxt/img/openpay-color.77b290c.png">
				<img src="https://cms.areandina.edu.co/sites/default/files/2021-10/logos-tarjetas-credito-financiero-areandina-2021.png">
			  </div>
						<a href="#"></a>
						<h6>Comprobante ID: {{date}}{{mount}}{{anio}}123</h6>
					</div>
				</div>
			</div>
			<button mat-button mat-raised-button matTooltip="Al continuar se aceptan terminos & condiciones" class="bg-purple" color="primary" matStepperNext>Continuar</button>
			<!-- Contenido 1 - cargado: {{getTimeLoaded(1) | date:'medium'}} -->
		</mat-step>
		<mat-step  label="Pago">
			<div class="left">
				<div class="info-box">
					<div class="receipt">
						Matricula <span>{{plan.tipo}}</span>
					</div>
					<div class="entry">
						<i class="icon-wallet" aria-hidden="true"></i>
						<p>Monto: <span>{{plan.precio | currency: 'USD' : 'symbol' : '1.0-0'  }}</span></p>
					</div>
					<div class="entry">
						<i class="icon-calendar" aria-hidden="true"></i>
						<p>Fecha:<span> {{getTimeLoaded(1) | date:'shortDate'}} </span></p>
					</div>
					<div class="entry entry-padding">
						<i class="icon-star" aria-hidden="true"></i>
						<p>Membresía:<span> {{plan.nombre}}</span></p>
					</div>
					<button mat-button color="accent" (click)="openDialog()">Ver condiciones de compra</button>
					<!-- <h3 class="text-white">Datos Tarjeta</h3>

					<div class="entry entry-padding">
						<i class="icon-star" aria-hidden="true"></i>
						<p>Nombre:<span> {{holder_name}}</span></p>
					</div>
					<div class="entry entry-padding">
						<i class="icon-star" aria-hidden="true"></i>
						<p>Numero:<span> {{card_number}}</span></p>
					</div>
					<div class="entry entry-padding">
						<i class="icon-star" aria-hidden="true"></i>
						<p>Fecha:<span> {{selectedMes}}/{{selectedAnios}}</span></p>
					</div>
					<div class="entry entry-padding">
						<i class="icon-star" aria-hidden="true"></i>
						<p>Codigo:<span> {{cvv2}}</span></p>
					</div> -->
					<!-- <div class="entry entry-padding">
						<i class="icon-star" aria-hidden="true"></i>
						<p>Fecha Tarjeta:<span> {{selectedMes}}/{{selectedAnios}}</span></p>
					</div> -->
					
					<!-- <div class="entry">
						<i class="icon-notebook" aria-hidden="true"></i>
						<p>Confirmación #:<span> 0YX123580219G</span></p>
					</div> -->
				</div>
			</div>
			<div class="right">
				<div class="content">
					<div class="header">
						<img src="../assets/images/LogoPay.png">
						<h4>{{date}}/{{getTimeLoaded(1) | date:'medium'}}</h4>
					</div>
					<div class="main">
			  
						<h3>Datos de Pago</h3>
						<h5> {{plan.nombre}} Total: {{plan.precio | currency: 'USD' : 'symbol' : '1.0-0'  }} COP</h5>
					</div>
	
					<form>

						<mat-form-field class="example-full-width" appearance="outline">
						  <mat-label>Nombre del titular</mat-label>
						  <input matInput placeholder="Ex. Pepe Perez" [formControl]="nombre" name="holder_name" [(ngModel)]="holder_name" required>
						  <mat-error *ngIf="nombre.hasError('minlength') &&
							!nombre.hasError('required')">
							Escribir nombre impreso en tarjeta
							</mat-error>
						  <mat-error *ngIf="nombre.hasError('required')">
							Nombre es <strong>requerido</strong>
						  </mat-error>
						</mat-form-field>

						<mat-form-field class="example-full-width" appearance="outline">
							<mat-label>Numero Tarjeta</mat-label>
							<input matInput type="tel" #numeroTarjeta minlength="16" maxlength="28" placeholder="Ex. 5254133674403564" [formControl]="numerotarjeta" name="card_number" [(ngModel)]="card_number" required>
							<mat-hint align="end">{{numeroTarjeta.value.length}} / 28</mat-hint>
							<!-- <mat-error *ngIf="numerotarjeta.errors">{{getErrorMessagenumerotarjeta()}}</mat-error>  -->
							<mat-error *ngIf="numerotarjeta.hasError('maxLength') &&
							!nombre.hasError('required')">
							Maximo 28 Numeros de tarjeta
							</mat-error>
							<mat-error *ngIf="numerotarjeta.hasError('minlength') &&
							!nombre.hasError('required')">
							Minimo 16 Numeros de tarjeta
							</mat-error>
						  <mat-error *ngIf="numerotarjeta.hasError('required')">
							Numero es <strong>requerido</strong>
						  </mat-error>
						</mat-form-field>
						 
						<table class="example-full-width-table" cellspacing="0"><tr>
							<!-- <td>
								<mat-form-field class="width-table" appearance="outline">
									<mat-label>Mes</mat-label>
									<input matInput #mesTarjeta maxlength="2" maxlength="2" type="number" minlength="2" placeholder="Ex. {{mount}}" formControlName="mestarjeta" name="expiration_month" [(ngModel)]="expiration_month" required>
									<mat-hint align="end">{{mesTarjeta.value.length}} / 2</mat-hint>
									<mat-error *ngIf="mestarjeta.errors">{{getErrorMessagenMesTarjeta()}}</mat-error>
									
								  </mat-form-field> </td> -->

						    <td>
								<mat-form-field class="width-table"  appearance="outline">
									<mat-label>Mes</mat-label>
									<mat-select [(value)]="selectedMes" [formControl]="mestarjeta" name="expiration_month" [(ngModel)]="expiration_month" required>
									  <mat-option></mat-option>
									  <mat-option [value]="option.value" *ngFor="let option of mes">{{ option.viewValue }}</mat-option>
									</mat-select>
									<!-- <mat-error *ngIf="mestarjeta.errors">{{getErrorMessagenMesTarjeta()}}</mat-error> -->
									<mat-error *ngIf="mestarjeta.hasError('required')">
										Mes es <strong>requerido</strong>
									  </mat-error>
								  </mat-form-field></td>
						   <td>
									<mat-form-field class="width-table"  appearance="outline">
										<mat-label>Año</mat-label>
										<mat-select [(value)]="selectedAnios" [formControl]="aniotarjeta" name="expiration_year" [(ngModel)]="expiration_year" required>
										  <mat-option></mat-option>
										  <mat-option [value]="option.value" *ngFor="let option of annio">{{ option.viewValue }}</mat-option>
										</mat-select>
										<!-- <mat-error *ngIf="aniotarjeta.errors">{{getErrorMessageAnioarjeta()}}</mat-error> -->
										<mat-error *ngIf="aniotarjeta.hasError('required')">
											Año es <strong>requerido</strong>
										  </mat-error>
									  </mat-form-field>
									  </td>
									
								  
							<!-- <td> 
								<mat-form-field class="width-table" appearance="outline">
									<mat-label>Año</mat-label>
									<input matInput #anioTarjeta maxlength="2"  type="number"  minlength="2" placeholder="Ex. {{anio}}" formControlName="aniotarjeta" name="expiration_year" [(ngModel)]="expiration_year" required>
									<mat-hint align="end">{{anioTarjeta.value.length}} / 2</mat-hint>
									<mat-error *ngIf="aniotarjeta.errors">{{getErrorMessageAnioarjeta()}}</mat-error>
				 					
								  </mat-form-field></td> -->
						  </tr></table>
						  <table class="example-full-width-table" cellspacing="1"><tr>
							<td>
								<mat-form-field class="width-table" appearance="outline">
									<mat-label>CCV</mat-label>
									<input matInput #ccvTarjeta type="tel"  minlength="3"  maxlength="4"  placeholder="Ex.123" [formControl]="ccvtarjeta"  name="cvv2" [(ngModel)]="cvv2" required>
									<mat-hint align="end">{{ccvTarjeta.value.length}} / 3</mat-hint>
									<!-- <mat-error *ngIf="ccvtarjeta.errors">{{getErrorMessageCcvTarjeta()}}</mat-error> -->
									<mat-error *ngIf="ccvtarjeta.hasError('maxLength') &&
							!nombre.hasError('required')">
							Maximo 4 Numeros de Codigo de seguridad 
							</mat-error>
							<mat-error *ngIf="ccvtarjeta.hasError('minlength') &&
							!nombre.hasError('required')">
							Minimo 3 Numeros de Codigo de seguridad 
							</mat-error>
						  <mat-error *ngIf="ccvtarjeta.hasError('required')">
							Codigo de seguridad es <strong>requerido</strong>
						  </mat-error>
								  </mat-form-field> </td>
								  
							
						  </tr></table>
						  <ngx-recaptcha2 #captchaElem
						  [siteKey]="siteKey"
						  [formControl]="recaptcha">
						</ngx-recaptcha2>
						 
						  
	
					<button mat-raised-button (click)="postCard()"  
					
					[disabled]="!payForm.valid"
					 type="submit" matTooltip="Se procesara pago de acuerdo con terminos & condiciones" class="botton-largelsu" color="primary">Pagar</button>
					
				</form>

				<!-- <div class="message">
			  
						<p>Hola, Username confirmando este proceso pagaras $20.000 COP, concepto Membresía Medium. Comprobante de pago sera enviado a(<a href="mailto:paypal@dribbble.com">mail@mail.com</a>)</p>
						<h6>Recomendamos revisar nuestros terminos & condiciones. Esta transacción puede tardar unos minutos.</h6>
					</div> -->
					<div class="footer">
			  <div class="header">
				<img src="https://www.openpay.co/_nuxt/img/openpay-color.77b290c.png">
				<img src="https://cms.areandina.edu.co/sites/default/files/2021-10/logos-tarjetas-credito-financiero-areandina-2021.png">
			  </div>
						<a href="#"></a>
						<h6>Comprobante ID: {{date}}{{mount}}{{anio}}123</h6>
					</div>
				</div>
			</div>
			<button mat-button mat-raised-button color="accent" matTooltip="Volver Información Pago" matStepperPrevious>Anterior</button>
			<!-- Contenido 2 - cargado: {{getTimeLoaded(1) | date:'medium'}} -->
			<!-- <button mat-button matStepperNext>Next</button> -->
		</mat-step>
		
	  </mat-stepper>
	  

		
    
	</div>
  
  

</div>
<app-footer></app-footer>